server:
    port: 8081

spring:
    application:
        name: api-cards
    redis:
        host: localhost
        port: 6379
        password:
        timeout: 2000  # Timeout para conexões
        lettuce:
            pool:
                max-active: 10  # Máximo de conexões ativas
                max-idle: 5     # Máximo de conexões inativas
                min-idle: 1     # Mínimo de conexões inativas

springdoc:
    swagger-ui:
        url: /openapi.yaml
    api-docs:
        enabled: true

  # RABBITMQ
rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    config:
        queue: client_data
        exchange: cards_exchange
        routing-key: card_routing_key
    error:
        queue: error_client_data
        routing-key: error_card_routing_key